html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline; }

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none; }

html,
body {
  width: 100%;
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  font-family: arial, sans-serif; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

ins,
a {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: inline-block; }

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0); }

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px; }

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }
  .wrap header {
    width: 100%;
    height: 1.17333rem;
    display: flex;
    background: yellow;
    padding: 0 0.26667rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-align-items: center;
    align-items: center; }
    .wrap header span {
      width: 1.33333rem; }
    .wrap header > div {
      flex: 1;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center; }
  .wrap .input {
    width: 100%;
    height: 1.17333rem;
    display: flex;
    padding: 0 0.26667rem;
    background: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    align-items: center; }
    .wrap .input span {
      width: 1.33333rem; }
    .wrap .input > div {
      flex: 1;
      height: 1.17333rem;
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      .wrap .input > div input {
        line-height: 0.8rem;
        margin-top: 0.18667rem;
        width: 4rem;
        height: 0.8rem;
        border: 0;
        font-size: 0.37333rem; }
  .wrap .mui-slider {
    flex: 1; }
    .wrap .mui-slider .mui-slider-group .mui-slider-item > div {
      display: flex;
      /* NEW, Spec - Opera 12.1, Firefox 20+ */
      display: -webkit-flex;
      /* NEW - Chrome */
      flex-wrap: wrap; }
      .wrap .mui-slider .mui-slider-group .mui-slider-item > div dl {
        width: 20%;
        height: 2.13333rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        .wrap .mui-slider .mui-slider-group .mui-slider-item > div dl dt {
          width: 1.06667rem;
          height: 1.06667rem;
          text-align: center;
          background: #888888;
          border-radius: 100%;
          line-height: 1.06667rem; }
        .wrap .mui-slider .mui-slider-group .mui-slider-item > div dl dd {
          font-size: 0.37333rem; }
  .wrap #btn {
    width: 100%;
    height: 1.06667rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    .wrap #btn button {
      width: 80%;
      height: 0.8rem;
      border-radius: 0.26667rem;
      background: yellow;
      color: white;
      border: 0; }
