@import "common.scss";
@import "_minix.scss";
.wrap{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	header{
		width: 100%;
		height: pxTorem(44px);
		display: flex;
		background: yellow;
		padding:0 pxTorem(10px);
		@include sizing;
		@include align;
		span{
			width: pxTorem(50px);
		}
		>div{
			flex: 1;
			display: flex;
			@include align;
			@include justify;
		}
	}
	.input{
		width: 100%;
		height: pxTorem(44px);
		display: flex;
		padding:0 pxTorem(10px);
		background: white;
		@include sizing;
		align-items: center;
		span{
			width: pxTorem(50px);
		}
		>div{
			flex: 1;
			height:pxTorem(44px);
			display: flex;
			align-items: center;
			justify-content: flex-end;
			input{
				line-height: pxTorem(30px);
				margin-top:pxTorem(7px);
				width: pxTorem(150px);
				height:pxTorem(30px);
				border:0;
				font-size: pxTorem(14px);
			}
		}
	}
	.mui-slider{
		flex: 1;
		.mui-slider-group{
			.mui-slider-item{
				>div{
					@include box_flex;
					flex-wrap:wrap;
					dl{
						width: 20%;
						height: pxTorem(80px);
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						dt{
							width: pxTorem(40px);
							height: pxTorem(40px);
							text-align: center;
							background: #888888;
							border-radius: 100%;
							line-height: pxTorem(40px);
						}
						dd{
							font-size:pxTorem(14px);
						}
					}
				}
			}
		}
	}
	#btn{
		width: 100%;
		height: pxTorem(40px);
		display: flex;
		align-items: center;
		justify-content: center;
		button{
			width: 80%;
			height: pxTorem(30px);
			border-radius: pxTorem(10px);
			background: yellow;
			color: white;
			border:0;
		}
	}
}
