@import "common.scss";
@import "_minix.scss";
.mui-inner-wrap{
	@include box_flex;
	@include direction(column);
	header{
		height:pxTorem(129px);
		background: yellow;
		width: 100%;
	}
	.header-top{
		height:pxTorem(44px);
		width:100%;
		@include box_flex;
		@include justify(space-between);
		@include align;
		padding: 0 pxTorem(10px);
		@include sizing;
		.selectType{
			display: inline-block;
			height:pxTorem(30px);
			line-height: pxTorem(30px);
			text-align: center;
			width: pxTorem(50px);
			border:1px solid #000;
			border-radius:30%;
		}
		.selectDate{
			display: inline-block;
			height:pxTorem(30px);
			line-height: pxTorem(30px);
			text-align: center;
			width: pxTorem(80px);
			border:1px solid #000;
			border-radius:20%;
		}
	}
	.header-center{
		font-size: pxTorem(28px);
	}
	.header-bottom{
		height:pxTorem(44px);
		width: 100%;
		line-height: pxTorem(44px);
		@include box_flex;
		@include justify(space-between);
		@include align;
		padding: 0 pxTorem(10px);
		@include sizing;
	}
}